* {
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;}
body {
    width: 90%;
    margin: 0 auto;
    background-image: url("images/ocean.jpg");
    background-repeat: no-repeat;
    background-size: auto;}
#content {
    overflow: auto;}
#nav, #feature, #footer {
    margin: 1%;}
.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;}
.column1 {
    background-color: rgb(225, 168, 250);}
.column2 {
    background-color: rgb(240, 168, 190);}
.column3 {
    background-color: aquamarine;
    margin-right: 0%;}
li {
    display: inline;
    padding: 0.5em;}
#nav {
    background-color: rgb(252, 255, 69);
    padding: 0.5em 0;}
#footer {
    background-color: rgb(19, 241, 63);
    padding: 0.5em 0;}
#feature, .article {
    height: 10em;
    margin-bottom: 1em;}
#feature {
    background-color: #f6d495;
    background-image: url("images/sea_shell.png");
    background-size:contain;
    background-position: right;
    background-repeat:no-repeat;}
#logo {
    font-family: 'CursiveSerifBook', sans-serif;}
@font-face {
    font-family: 'CursiveSerifBook';
    src: url('fonts/Cursive/CursiveSans-Book.ttf');}
