.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    border: 1px solid black;
    width: 12%;
    height: 60px;
    background-color: white;
    float: left;
}

.black {
    border: 1px solid black;
    width: 12%;
    height: 60px;
    background-color: #787878;
    float: left;
}

#clear {
    clear: both;
}

#footer {
    border: solid 1px;
    padding: 10px;
    margin: 10px;
    background-color: #f5cfe6;
    text-align: center;
}

#container {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

#title {
    font-family: 'JustLettersMedium';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: rgb(111, 240, 245);
    text-align: center;
    z-index: 10;
}

img {
    margin-left: 50px;
    margin-top: 10px;
}

body {
    background-image: url("chess/images/pastel-watercolor-wallpaper.jpg");
}
